{% from 'bgp_neighbor.j2' import render_neighbors with context %}
{% from 'bgp_redistribute.j2' import render_redistribute with context %}
{% from 'bgp_aggregate_addresses.j2' import render_aggregate_addresses with context %}
{#  ############################################## begin template #}
{% if 'router' in vars and 'bgp' in vars['router'] %}
{% for process_id, process in vars['router']['bgp'].iteritems() %}
- parents:
  - router bgp {{ process['process_id'] }}
  lines:
{#  ############################################## synchronization #}
{% if 'synchronization' in process %}
{% if not process['synchronization'] %}
  - " no synchronization"
{% endif %}
{% endif %}
{#  ############################################## router_id #}
{% if 'router_id' in process %}
  - " bgp router-id {{ process['router_id'] }}"
{% endif %}
{#  ############################################## log_neighbor_changes #}
{% if 'log_neighbor_changes' in process and process['log_neighbor_changes'] %}
  - " bgp log-neighbor-changes"
{% endif %}
{#  ############################################## aggregate_addresses #}
{{ render_aggregate_addresses(process, " ") }}
{#  ############################################## redistribute #}
{% if 'redistribute' in process %}
{# {{ render_redistribute(process, " ") }} #}
{% endif %}
{#  ############################################## neighbors #}
{{ render_neighbors(process, " ") }}
{#  ############################################## auto_summary #}
{% if 'auto_summary' in process and not process['auto_summary'] %}
  - " no auto-summary"
{% endif %}{# auto_summary #}
{#  ############################################## distance #}
{% if 'distance' in process %}
  - " distance {{ process['distance'] }}"
{% endif %}{# distance #}
  - " !"
{# -------------ADDRESS FAMILIES BEGIN---------------- #}
{% if 'address_families' in process %}
{% for ip_version, address_family in process['address_families'].iteritems() %}
  - " address-family {{ address_family['ip_version'] }}"
{#  ############################################## aggregate_addresses #}
{{ render_aggregate_addresses(address_family, "  ") }}
{#  ############################################## redistribute #}
{% if 'redistribute' in address_family %}
{{ render_redistribute(address_family, "  ") }}
{% endif %}
{#  ############################################## neighbors #}
{{ render_neighbors(address_family, "  ") }}
{#  ############################################## distribute-list prefix #}
{% if 'distribute_list' in address_family %}
  - "  distribute-list prefix {{ address_family['distribute_list']['prefix_list'] }} {{ address_family['distribute_list']['direction'] }}"
{% endif %}
{#  ############################################## distance #}
{% if 'distance' in address_family %}
  - "  distance bgp {{ address_family['distance']['external'] }} {{ address_family['distance']['internal'] }} {{ address_family['distance']['local'] }}"
{% endif %}
{#  ############################################## synchronization #}
{% if 'auto_summary' in address_family and not address_family['auto_summary'] %}
  - "  no auto-summary"
{% endif %}
{#  ############################################## synchronization #}
{% if 'synchronization' in address_family and not address_family['synchronization'] %}
  - "  no synchronization"
{% endif %}
{#  ############################################## networks #}
{% if 'network_statements' in address_family  %}
{% for statement in address_family['network_statements'] %}
  - "  network {{ statement['network'] }} mask {{ statement['netmask'] }}"
{% endfor %}
{% endif %}
{% endfor %}{# ip_version #}
  - " exit-address-family"
{% endif %}{# address_families #}
{% endfor %}{# process #}
{% endif %}{# router #}
