{% if 'router' in vars and 'ospf' in vars['router'] %}
{% for key, value in vars['router']['ospf'].iteritems() %}
- parents:
  - router ospf {{ value['process_id'] }}
  lines:
{% if 'router_id' in value %}
  - " router-id {{ value['router_id'] }}"
{% endif %}{# router_id #}
{% if 'log_adjacency_changes' in value and value['log_adjacency_changes']  %}
  - " log-adjacency-changes"
{% endif %}{# log_adjacency_changes #}
{% if 'auto_cost_reference_bandwidth' in value %}
  - " auto-cost reference-bandwidth {{ value['auto_cost_reference_bandwidth'] }}"
{% endif %}{# auto_cost_reference_bandwidth #}
{% if 'areas' in value %}
{% for area_id, area in value['areas'].iteritems() %}
{% if 'authentication' in area and area['authentication'] %}
  - " area {{ area['area_id'] }} authentication"
{% endif %}{# authentication #}
{% endfor %}{# area #}
{% endif %}{# areas #}
{% if 'summary_addresses' in value %}
{% for summary_address in value['summary_addresses'] %}
  - " summary-address {{ summary_address['network'] }} {{ summary_address['netmask'] }}"
{% endfor %}{# summary_address #}
{% endif %}{# summary_addresses #}
{% if 'redistribute' in value %}
{% for protocol in ['connected', 'static', 'eigrp', 'ospf', 'bgp'] %}
{% if protocol in value['redistribute'] %}
{% set line = [] %}
{% set _ = line.append('redistribute') %}
{% set _ = line.append(value['redistribute'][protocol]['protocol']) %}
{% if 'process_id' in value['redistribute'][protocol] %}
{% set _ = line.append(value['redistribute'][protocol]['process_id']) %}
{% endif %}{# process_id #}
{% if 'metric' in value['redistribute'][protocol] %}
{% set _ = line.append('metric') %}
{% set _ = line.append(value['redistribute'][protocol]['metric']) %}
{% endif %}{# metric #}
{% if 'metric_types' in value['redistribute'][protocol] %}
{% for metric_type in value['redistribute'][protocol]['metric_types'] %}
{% set _ = line.append('metric-type') %}
{% set _ = line.append(metric_type) %}
{% endfor %}{# metric_types #}
{% endif %}{# metric_type #}
{% if 'subnets' in value['redistribute'][protocol] and value['redistribute'][protocol]['subnets'] %}
{% set _ = line.append('subnets') %}
{% endif %}{# subnets #}
{% if 'tag' in value['redistribute'][protocol] %}
{% set _ = line.append('tag') %}
{% set _ = line.append(value['redistribute'][protocol]['tag']) %}
{% endif %}{# tag #}
{% if 'route_map' in value['redistribute'][protocol] %}
{% set _ = line.append('route-map') %}
{% set _ = line.append(value['redistribute'][protocol]['route_map']) %}
{% endif %}
  - " {{ line|join(' ') }}"
{% endif %}{# protocol_in #}
{% endfor %}{# protocol #}
{% endif %}{# redistribute #}
{% if 'passive_interface_default' in value and value['passive_interface_default']  %}
  - " passive-interface default"
{% endif %}{# passive_interface_default #}
{% if 'passive_interfaces' in value %}
{% for passive_interface in value['passive_interfaces'] %}
{% if passive_interface['negate'] %}
  - " no passive-interface {{ passive_interface['interface'] }}"
{% else %}
  - " passive-interface {{ passive_interface['interface'] }}"
{% endif %}{# negate passive_interface #}
{% endfor %}{# passive_interface #}
{% endif %}{# passive_interfaces #}
{% if 'network_statements' in value %}
{% for network_statement in value['network_statements'] %}
  - " network {{ network_statement['network'] }} {{ network_statement['netmask'] }} area {{ network_statement['area'] }}"
{% endfor %}{# network_statement #}
{% endif %}{# network_statements #}
{% if 'default_information' in value and value['default_information']['originate']%}
{% set line = [] %}
{% set _ = line.append('default-information originate') %}
{% if 'metric' in value['default_information'] %}
{% set _ = line.append('metric') %}
{% set _ = line.append(value['default_information']['metric']) %}
{% endif %}{# metric #}
{% if 'metric_type' in value['default_information'] %}
{% set _ = line.append('metric-type') %}
{% set _ = line.append(value['default_information']['metric_type']) %}
{% endif %}{# metric_type #}
  - " {{ line|join(' ') }}"
{% endif %}{# default_information #}
{% if 'distribute_lists' in value %}
{% for distribute_list in value['distribute_lists'] %}
{% if 'route_map' in distribute_list %}
  - " distribute-list route-map {{ distribute_list['route_map'] }} {{ distribute_list['direction'] }}"
{% endif %}{# route-map #}
{% endfor %}{# distribute-list #}
{% endif %}{# distribute_lists #}
{% endfor %}{# process #}
{% endif %}{# router #}
