{% if 'aaa' in vars and 'authentication' in vars['aaa'] and 'login' in vars['aaa']['authentication'] %}
{% if 'activated' in vars['aaa']['authentication']['login'] %}
- parents:
  lines:
  - aaa authentication login{% for group in vars['aaa']['authentication']['login']['activated']['groups'] %} group{{ group }}{% endfor %} {{ vars['aaa']['authentication']['login']['activated']['methods']|join(' ') }}
{% endif %}
{% if 'default' in vars['aaa']['authentication']['login'] %}
- parents:
  lines:
  - aaa authentication login default {{ vars['aaa']['authentication']['login']['default']['methods']|join(' ') }}
{% endif %}
{% endif %}
