{% if 'tacacs_server' in vars and 'hosts' in vars['tacacs_server'] %}
{% for host in vars['tacacs_server']['hosts'] %}
- parents:
  lines:
{% if 'encryption_type' in host and 'password' in host %}
  - tacacs-server host {{ host['ip'] }} key {{ host['encryption_type'] }} {{ host['password'] }}
{% else %}
  - tacacs-server host {{ host['ip'] }}
{% endif %}
{% endfor %}
{% endif %}
