{% if 'timestamps' in vars['services'] %}
{% for entry in vars['services']['timestamps'] %}
- parents:
  lines:
  - service timestamps {{ entry['type'] }} {{ entry['modifiers']|join(' ') }}
{% endfor %}
{% endif %}
