{% for key, value in vars['interfaces'].iteritems() %}
- parents:
  - interface {{ value['name'] }}
  lines:
{% if 'description' in value %}
  - " description {{ value['description'] }}"
{% if 'subdescription' in value %}
  - "  subdescription {{ value['subdescription'] }}"
{% endif %}
{% endif %}
{% if 'vrf' in value %}
  - " vrf forwarding {{ value['vrf'] }}"
{% endif %}
{% if 'switchport' in value %}
{% if 'access' in value['switchport'] %}
{% if 'vlan' in value['switchport']['access'] %}
  - " switchport access vlan {{ value['switchport']['access']['vlan'] }}"
{% endif %}{# vlan #}
{% endif %}{# access #}
{% if 'trunk' in value['switchport'] %}
{% if 'encapsulation' in value['switchport']['trunk'] %}
  - " switchport trunk encapsulation {{ value['switchport']['trunk']['encapsulation'] }}"
{% endif %}{# encapsulation #}
{% if 'native_vlan' in value['switchport']['trunk'] %}
  - " switchport trunk native vlan {{ value['switchport']['trunk']['native_vlan'] }}"
{% endif %}{# native-vlan #}
{% if 'allowed_vlans' in value['switchport']['trunk'] %}
{% if 'vlans' in value['switchport']['trunk']['allowed_vlans'] %}
  - " switchport trunk allowed vlan {{ value['switchport']['trunk']['allowed_vlans']['vlans'] }}"
{% endif %}{# vlans #}
{% if 'add' in value['switchport']['trunk']['allowed_vlans'] %}
  - " switchport trunk allowed vlan add {{ value['switchport']['trunk']['allowed_vlans']['add'] }}"
{% endif %}{# add #}
{% endif %}{# allowed-vlans #}
{% endif %}{# trunk #}
{% if 'mode' in value['switchport'] %}
  - " switchport mode {{ value['switchport']['mode']|join(' ') }}"
{% endif %}{# mode #}
{% if 'negate' in value['switchport'] and value['switchport']['negate'] %}
  - " no switchport"
{% endif %}{# negate #}
{% endif %}{# switchport #}
{% if 'channel_group' in value %}
  - " channel-group {{ value['channel_group'] }} mode {{ value['channel_group_mode']|join(' ') }}"
{% endif %}{# channel_group #}
{% if 'bandwidth' in value %}
{% for entry in value['bandwidth'] %}
  - " bandwidth {{ entry }}"
{% endfor %}
{% endif %}{# bandwidth #}
{% if 'ip' in value %}
{% if 'address' in value['ip'] %}
{% if 'ipv4_address' in value['ip']['address'] and 'ipv4_netmask' in value['ip']['address'] %}
  - " ip address {{ value['ip']['address']['ipv4_address'] }} {{ value['ip']['address']['ipv4_netmask'] }}"
{% endif %}{# ipv4_address #}
{% if 'negate' in value['ip']['address'] and value['ip']['address']['negate'] %}
  - " no ip address"
{% endif %}{# negate #}
{% endif %}{# address #}
{% if 'redirects' in value['ip'] and 'negate' in value['ip']['redirects'] and value['ip']['redirects']['negate'] %}
  - " no ip redirects"
{% endif %}{# ip redirects #}
{% if 'mtu' in value['ip']  %}
  - " ip mtu {{ value['ip']['mtu'] }}"
{% endif %}{# ip mtu #}
{% if 'access_groups' in value['ip'] %}
{% for entry in value['ip']['access_groups'] %}
  - " ip access-group {{ entry['name'] }} {{ entry['direction'] }}"
{% endfor %}
{% endif %}
{% if 'nbar' in value['ip'] and 'protocol_discovery' in value['ip']['nbar'] and value['ip']['nbar']['protocol_discovery'] %}
  - " ip nbar protocol-discovery"
{% endif %}{# ip nbar protocol-discovery #}
{% if 'flow' in value['ip'] %}
{% for direction in value['ip']['flow']['directions'] %}
  - " ip flow {{ direction }}"
{% endfor %}{# flow directions #}
{% endif %}{# flow #}
{% if 'nbar' in value['ip'] %}
{% if 'map' in value['ip']['nbar'] %}
{% if 'multicast' in value['ip']['nbar']['map'] and 'dynamic' in value['ip']['nbar']['map']['multicast'] and value['ip']['nbar']['map']['multicast']['dynamic'] %}
  - " ip nhrp map multicast dynamic"
{% endif %}{# ip nhrp map multicast dynamic #}
{% if 'ip_address' in value['ip']['nbar']['map'] and 'nbma_address' in value['ip']['nbar']['map'] %}
  - " ip nhrp map {{ value['ip']['nbar']['map']['ip_address'] }} {{ value['ip']['nbar']['map']['nbma_address'] }}"
{% endif %}{# ip nhrp map 1.1.1.1 2.2.2.2 #}
{% if 'multicast' in value['ip']['nbar']['map'] and 'nbma_address' in value['ip']['nbar']['map']['multicast'] %}
  - " ip nhrp map multicast {{ value['ip']['nbar']['map']['nbma_address'] }}"
{% endif %}{# ip nhrp map multicast 2.2.2.2 #}
{% endif %}{# ip nhrp map #}
{% if 'network_id' in value['ip']['nbar'] %}
  - " ip nhrp network-id {{ value['ip']['nbar']['network_id'] }}"
{% endif %}{# ip nhrp network-id #}
{% if 'holdtime' in value['ip']['nbar'] %}
  - " ip nhrp holdtime {{ value['ip']['nbar']['holdtime'] }}"
{% endif %}{# ip nhrp holdtime #}
{% if 'nhs' in value['ip']['nbar'] %}
  - " ip nhrp nhs {{ value['ip']['nbar']['nhs'] }}"
{% endif %}{# ip nhrp nhs #}
{% endif %}{# ip nhrp  #}
{% if 'tcp' in value['ip'] %}
{% if 'adjust_mss' in value['ip']['tcp'] %}
  - " ip tcp adjust-mss {{ value['ip']['tcp']['adjust_mss'] }}"
{% endif %}{# ip tcp adjust-mss #}
{% endif %}{# tcp #}
{% if 'nat' in value['ip'] %}
{% if 'side' in value['ip']['nat'] %}
  - " ip nat {{ value['ip']['nat']['side'] }}"
{% endif %}{# nat direction #}
{% endif %}{# nat #}
{% if 'inspect' in value['ip'] and 'name' in value['ip']['inspect'] and 'direction' in value['ip']['inspect'] %}
  - " ip inspect {{ value['ip']['inspect']['name'] }} {{ value['ip']['inspect']['direction'] }}"
{% endif %}{# inspect #}
{% if 'virtual_reassembly' in value['ip'] and 'direction' in value['ip']['virtual_reassembly'] %}
{% if 'negate' in value['ip']['virtual_reassembly'] and value['ip']['virtual_reassembly']['negate'] %}
  - " no ip virtual-reassembly {{ value['ip']['virtual_reassembly']['direction'] }}"
{% else %}
  - " ip virtual-reassembly {{ value['ip']['virtual_reassembly']['direction'] }}"
{% endif %}{# negate virtual_reassembly #}
{% endif %}{# virtual_reassembly #}
{% if 'ospf' in value['ip'] %}
{% if 'network_type' in value['ip']['ospf'] %}
  - " ip ospf network {{ value['ip']['ospf']['network_type']}}"
{% endif %}{# ospf network_type #}
{% if 'hello_interval' in value['ip']['ospf'] %}
  - " ip ospf hello-interval {{ value['ip']['ospf']['hello_interval']}}"
{% endif %}{# ospf hello_interval #}
{% if 'encryption_type' in value['ip']['ospf'] and 'authentication_key' in value['ip']['ospf'] %}
  - " ip ospf authentication-key {{ value['ip']['ospf']['encryption_type'] }} {{ value['ip']['ospf']['authentication_key'] }}"
{% endif %}{# authentication-key #}
{% endif %}{# ospf #}
{% if 'helper_addresses' in value['ip'] %}
{% for address in value['ip']['helper_addresses'] %}
  - " ip helper-address {{ address['ipv4_helper_address'] }}"
{% endfor %}{# helpers #}
{% endif %}{# helper_addresses #}
{% if 'route_cache' in value['ip'] %}
  - " ip route-cache {{ value['ip']['route_cache'] }}"
{% endif %}{# route-cache #}
{% if 'policy_route_map' in value['ip'] %}
  - " ip policy route-map {{ value['ip']['policy_route_map'] }}"
{% endif %}{# policy_route_map #}
{% endif %}{# ip #}
{% if 'encapsulation' in value %}
{% if 'protocol' in value['encapsulation'] %}
{% if 'tag' in value['encapsulation'] %}
  - " encapsulation {{ value['encapsulation']['protocol'] }} {{ value['encapsulation']['tag'] }}"
{% else %}
  - " encapsulation {{ value['encapsulation']['protocol'] }}"
{% endif %}{# tag #}
{% endif %}{# protocol #}
{% endif %}{# encapsulation #}
{% if 'shutdown' in value and value['shutdown'] %}
  - " shutdown"
{% endif %}{# shutdown #}
{% if 'isdn' in value %}
{% for entry in value['isdn'] %}
  - " isdn {{ entry }}"
{% endfor %}{# isdn lines #}
{% endif %}{# isdn #}
{% if 'tunnel' in value %}
{% if 'source' in value['tunnel'] %}
  - " tunnel source {{ value['tunnel']['source'] }}"
{% endif %}{# tunnel source #}
{% if 'mode' in value['tunnel'] %}
  - " tunnel mode {{ value['tunnel']['mode'] }}"
{% endif %}{# tunnel mode #}
{% if 'key' in value['tunnel'] %}
  - " tunnel key {{ value['tunnel']['key'] }}"
{% endif %}{# tunnel key #}
{% if 'path_mtu_discovery' in value['tunnel'] and value['tunnel']['path_mtu_discovery'] %}
  - " tunnel path-mtu-discovery"
{% endif %}{# tunnel path_mtu_discovery #}
{% if 'protection' in value['tunnel'] and 'ipsec_profile' in value['tunnel']['protection'] %}
{% if 'shared' in value['tunnel']['protection'] %}
  - " tunnel protection ipsec profile {{ value['tunnel']['protection']['ipsec_profile'] }} shared"
{% else %}
  - " tunnel protection ipsec profile {{ value['tunnel']['protection']['ipsec_profile'] }}"
{% endif %}{# shared tunnel protection #}
{% endif %}{# tunnel protection #}
{% endif %}{# tunnel #}
{% if 'negotiation' in value and value['negotiation']['negate'] %}
  - " no negotiation {{ value['negotiation']['type'] }}"
{% endif %}{# no negotiation #}
{% if 'negotiation' in value and not value['negotiation']['negate'] %}
  - " negotiation {{ value['negotiation']['type'] }}"
{% endif %}{# negotiation #}
{% if 'ip' in value and 'pim' in value['ip'] %}
  - " ip pim {{ value['ip']['pim']['mode'] }}"
{% endif %}{# pim mode #}
{% if 'load_interval' in value %}
  - " load-interval {{ value['load_interval'] }}"
{% endif %}{# load_interval #}
{% if 'duplex' in value %}
  - " duplex {{ value['duplex'] }}"
{% endif %}{# duplex #}
{% if 'speed' in value %}
  - " speed {{ value['speed'] }}"
{% endif %}{# speed #}
{% if 'media_type' in value %}
  - " media-type {{ value['media_type'] }}"
{% endif %}{# media_type #}
{% if 'cdp' in value and not value['cdp']['enabled'] %}
  - " no cdp enable"
{% endif %}{# no cdp #}
{% if 'service_module' in value and 'ip' in value['service_module'] %}
{% if 'address' in value['service_module']['ip'] and 'ipv4_address' in value['service_module']['ip']['address'] and 'ipv4_netmask' in value['service_module']['ip']['address'] %}
  - " service-module ip address {{ value['service_module']['ip']['address']['ipv4_address'] }} {{ value['service_module']['ip']['address']['ipv4_netmask'] }}"
{% endif %}{# service-module ip address #}
{% if 'default_gateway' in value['service_module']['ip'] and 'ipv4_address' in value['service_module']['ip']['default_gateway'] %}
  - " service-module ip default-gateway {{ value['service_module']['ip']['default_gateway']['ipv4_address'] }}"
{% endif %}{# service-module default-gateway #}
{% endif %}{# service-module #}
{% if 'keepalive' in value and 'negate' in value['keepalive'] and value['keepalive']['negate'] %}
  - " no keepalive"
{% endif %}{# no keepalive #}
{% if 'service_policies' in value %}
{% for service_policy in value['service_policies'] %}
  - " service-policy {{ service_policy['direction'] }} {{ service_policy['name'] }}"
{% endfor %}{# helpers #}
{% endif %}{# helper_addresses #}
{% endfor %}
