{% if 'enabled' in vars['services'] %}
{% for entry in vars['services']['enabled']|sort(attribute='service_name') %}
- parents:
  lines:
  - service {{ entry['service_name'] }}
{% endfor %}
{% endif %}
